body {
  display: flex;
  flex-direction: column;
  font: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
}

section {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div + div {
  margin-left: 1em;
}

.bordered_box {
  border: 1px solid #000;
}
